body {
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("photos/ecdfb7.png");
  }
  .header .title h1 {
    color: green;
  }
  .underline {
    text-decoration: underline;
  }
  .hrstyle {
    border: 2px solid #c0c0c0;
  }
  .links ul li {
    margin-top: 15px;
  }
  .bodytime .title {
    text-align: center;
  }
  .container-hope {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .text5 {
    line-height: 25px;
  }
  .second-section .title {
    text-align: center;
    font-size: 13px;
  }
  .container20 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container20 li {
    line-height: 25px;
  }
  .container-mega {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }